@charset "UTF-8";
body{
    font-family:"Helvetica", Arial, sans-serif;
    font-size:0.9em;
    text-align:center;
    margin:0;
}
h1{
    margin: 0.5em 0.1em;
}
div#barraFija{
    background-color: #4673d7;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,128);
    padding: 0 0 1em 0;
}
#mensajes{
    background-color: #4673d7;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.destino{
    line-height: 2.5em;
    margin-top: 10em;
}
.contenedor{
    display: inline-block;
}
.Dragable{
    cursor: move;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: auto;
    /*height: 2em;*/
    margin: 0;
    padding: 3px;
    color: #000;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,200);
    background-color:#FFF;
    vertical-align:middle;
}
.Indragable{
    font-weight: bold;
    margin: 0;
    display:inline-block;
}

.DropTarget{
    min-width: 10em;
    min-height: 2.5em;
    background-color: #CEF;
    border: 2px solid #FFF;
    overflow:visible;
    display:inline-block;
    vertical-align:middle;
}
.DropTarget .Dragable{
    height:auto;
    background:none;
    overflow:visible;
    border:none;
    display:inline-block;
    vertical-align:middle;
    box-shadow: none;
}